
@mixin flex($align: stretch, $justify: stretch, $wrap: nowrap, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  position: relative;
  font-size: 15px;
  color: #fff;
  font-family: 'SegoeUIRegular', Arial, sans-serif;
  overflow-x: hidden;
  border-top: 8px solid #a292b3;
  border-bottom: 8px solid #a292b3;
}

.wrapper__content {
  max-width: 1018px;
  margin: 0 auto;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}