.clients {
  overflow: hidden;
  margin-bottom: 61px;h
  h3 {
    position: relative;
    display: inline-block;
    color: #000000;
    font-weight: 400;
    font-size: 1.53em;
    margin-bottom: 40px;
    &:after {
      position: absolute;
      display: block;
      content: "";
      background: url("../img/dots.jpg") repeat-x;
      height: 5px;
      width: 300%;
      top: 52%;
      left: calc(100% + 7px);
      opacity: .5;
    }
  }
  &__list {
    @include flex(center, center);
    li {
      display: block;
      width: 25%;
      height: 70px;
      background: #f5f5f5;
      @include flex(center, center);
      border: 1px solid rgba(0, 0, 0, 0.11);
      &:not(:last-child) {
        border-right: none;
      }
      img {
        display: block;
        max-width: 90%;
        margin: 0 auto;
      }
    }
  }
}