@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
  url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
  url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

//@font-face {
//  font-family: "SegoeUIItalic";
//  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
//  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
//  url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
//  url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}

@font-face {
  font-family: "SofiaProLight";
  src: url("../fonts/SofiaProLight/SofiaProLight.eot");
  src: url("../fonts/SofiaProLight/SofiaProLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SofiaProLight/SofiaProLight.woff") format("woff"),
  url("../fonts/SofiaProLight/SofiaProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SofiaProLight";
  src: url("../fonts/SofiaProLight/SofiaProLight.eot");
  src: url("../fonts/SofiaProLight/SofiaProLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SofiaProLight/SofiaProLight.woff") format("woff"),
  url("../fonts/SofiaProLight/SofiaProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "StRydeRegular";
  src: url("../fonts/StRyde-Regular.otf") format("opentype");
}